body{

    font-family: 'Montserrat', sans-serif;

}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}

.menu{
    flex-wrap: wrap;
    justify-content: right;
    background-color:rgb(79, 77, 77);
    margin: 20px;
    align-items:center;
    column-gap: 30px;
    height: 70px;
}

.menu a{
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}
a:link{
    text-decoration: none;
    color: greenyellow;
}
a:visited{
    text-decoration: none;
}
a:hover{
    transition: 1s;
    font-size: 1.4em;
    text-decoration:underline;
    color: rgb(206, 0, 0);

}

.home div{
    text-align: center;
    border: 1px solid;
    grid-column-start: 1;
    grid-column-end: 6;
}

.mapa{
    align-content: center;
}